<section class="about_us_area row">
  <div class="container">
      <div class="title" style="visibility: visible;">
          <h2>SOBRE NÓS</h2>
      </div>
      <div class="row about_row">
          <div class="col-md-5 col-sm-6 about_client about_pages_client">
              <img src="\assets\images\logo.jpeg" alt="">
          </div>
          <div class="who_we_area col-md-7 col-sm-6">
              <div class="subtitle">
                  <h2>QUEM SOMOS</h2>
              </div>
              <p>Somos uma empresa de consultoria de mercado chamada Blood-Blue. 
                É isso mesmo: Blood-Blue, com hífen, que numa tradução rigorosa significa "de sangue azul". 
                Porque queremos proporcionar o melhor em termos de atendimento, técnica, qualidade nos resultados. 
                É uma empresa que já nasce com história, experiência, com muito para contar e contribuir: 
                Uma história, uma equipe, uma empresa... de sangue azul 
                
                A partir da experiência dos seus executivos, a Blood-Blue possui um grau de experiência na condução 
                de estudos qualitativos e quantitativos sem paralelo no mercado farmacêutico brasileiro </p>
          </div>
      </div>
  </div>
</section>
