<section class="row professional_builder">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 missao">
        <i class="fa fa-check icon"></i>
        <h4>Missão</h4>
        <p>Prover os clientes com soluções mais adequadas e que os ajudem a mais bem fundamentar suas decisões de negócios, a partir de um completo arsenal de métodos em pesquisa de marketing.</p>
      </div>
      <div class="col-md-4 col-sm-4 missao">
        <i class="fa fa-eye icon"></i>
        <h4>Visão</h4>
        <p>Ser a referência em pesquisa de marketing para a indústria da saúde no mercado brasileiro.</p>
      </div>
      <div class="col-md-4 col-sm-4 missao">
        <i class="fas fa-dollar-sign icon"></i>
        <h4>Valores</h4>
        <p>Excelência, Expertise, Respeito, Ética, Comprometimento, Credibilidade, Resiliência e Flexibilidade.</p>
      </div>
    </div>
  </div>
</section>


