<section class="our_team_area">
    <div class="container">
        <div class="title" style="visibility: visible;">
            <h2>Blood-Blue</h2>
        </div>
        <div class="row team_row">
            <div class="col-md-3 col-sm-0" style="visibility: visible;">
            </div>
            <div class="col-md-3 col-sm-6 " style="visibility: visible; ">
                <div class="team_membar">
                  <app-abb-imagem class="img-responsive mx-auto d-block" [url]="'../../../assets/images/imagem.jpg'"></app-abb-imagem>
                    <div class="team_content">
                        <ul>
                            <li><a href="https://www.facebook.com/luciana.goncalves.luli"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/luciana-gon%C3%A7alves-b36422/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="mailto:luciana.goncalves@blood-blue.com.br"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
                        </ul>
                        <a href="#" class="name">Luciana Gonçalves</a>
                        <h6>Projetos &amp; COO</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6" style="visibility: visible;">
                <div class="team_membar">
                  <app-abb-imagem class="img-responsive mx-auto d-block" [url]="'../../../assets/images/rafaelaphoto.jpeg'"></app-abb-imagem>
                    <div class="team_content">
                        <ul>
                            <li><a href="https://www.facebook.com/rafaela.tolosa.1"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/rafaela-saraiva-tolosa-21973b21/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="mailto:rafaela.tolosa@blood-blue.com.br"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
                        </ul>
                        <a href="#" class="name">Rafaela Tolosa</a>
                        <h6>Atendimentos &amp; CEO</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-0" style="visibility: visible; animation-delay: 0.4s; ">
            </div>
        </div>
    </div>
</section>
