.info_email .contact_row {
  padding: 100px 0;
}
.info_email .contact_row .contact_info h2 {
  font: 700 26px/1 "Roboto", sans-serif;
  color: #222222;
  padding-bottom: 30px;
  position: relative;
}
.info_email .contact_row .contact_info h2:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80px;
  background: #10437F;
  left: 0;
  bottom: 0;
}
.info_email .contact_row .contact_info p {
  font: 400 14px/26px "Roboto", sans-serif;
  color: #555555;
  padding-top: 30px;
}
.info_email .contact_row .contact_info .location {
  padding-top: 55px;
}
.info_email .contact_row .contact_info .location a {
  font: 400 14px/28px "Roboto", sans-serif;
  color: #555555;
  display: block;
  text-decoration: none;
}
.info_email .contact_row .contact_info .location a:hover, .info_email .contact_row .contact_info .location a:focus {
  color: #10437F;
  transition: 750ms;
}
.info_email .contact_row .contact_info .location .f_location {
  padding-bottom: 0px;
}
.info_email .contact_row .contact_info .location .f_tel {
  padding-bottom: 28px;
}
.info_email .contact_row .contact_info .location .location_left {
  width: 125px;
  float: left;
}
.info_email .contact_row .contact_info .location .address a {
  text-decoration: none;
}

.info_email .contact_row .email .contact_box {
  padding-top: 30px;
}
.info_email .contact_row .email .contact_box .input_box {
  border: 1px solid #dfe3e4;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  height: 50px;
  padding-left: 15px;
  width: 100%;
  color: black;
  margin-bottom: 20px;
}
.info_email .contact_row .email .contact_box .input_box.placeholder {
  color: #6e7075;
}
.info_email .contact_row .email .contact_box .input_box:-moz-placeholder {
  color: #6e7075;
}
.info_email .contact_row .email .contact_box .input_box::-webkit-input-placeholder {
  color: #6e7075;
}
.info_email .contact_row .email .contact_box textarea {
  height: 120px !important;
  resize: none;
}
.info_email .contact_row .email .contact_box button {
  color: #282828;
  background: #10589c;
  font: 400 14px/40px "Roboto", sans-serif;
  width: 140px;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
}
.info_email .contact_row .email .contact_box button:hover, .info_email .contact_row .email .contact_box button:focus {
  color: #282828;
  background: #1668bf;
}

@media only screen and (max-width: 323px) and (min-width: 0px) {
  .info_email .contact_row .contact_info .location .f_location {
    padding-bottom: 112px;
  }
  .info_email .contact_row .contact_info .location .f_tel {
    padding-bottom: 28px;
  }
  .info_email .contact_row .contact_info .location .f_mail {
    padding-bottom: 28px;
  }
}

@media only screen and (max-width: 376px) and (min-width: 324px) {
  .info_email .contact_row .contact_info .location .f_location {
    padding-bottom: 84px;
  }
  .info_email .contact_row .contact_info .location .f_tel {
    padding-bottom: 28px;
  }
  .info_email .contact_row .contact_info .location .f_mail {
    padding-bottom: 28px;
  }
}

@media only screen and (max-width: 392px) and (min-width: 377px) {
  .info_email .contact_row .contact_info .location .f_location {
    padding-bottom: 56px;
  }
  .info_email .contact_row .contact_info .location .f_tel {
    padding-bottom: 28px;
  }
  .info_email .contact_row .contact_info .location .f_mail {
    padding-bottom: 28px;
  }
}

@media only screen and (max-width: 489px) and (min-width: 393px){
  .info_email .contact_row .contact_info .location .f_location {
    padding-bottom: 56px;
  }
  .info_email .contact_row .contact_info .location .f_tel {
    padding-bottom: 28px;
  }
  .info_email .contact_row .contact_info .location .f_mail {
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 991px) and (min-width: 490px){
  .info_email .contact_row .contact_info .location .f_location {
    padding-bottom: 28px;
  }
  .info_email .contact_row .contact_info .location .f_tel {
    padding-bottom: 28px;
  }
  .info_email .contact_row .contact_info .location .f_mail {
    padding-bottom: 0px;
  }
}


