<section class="info_email" style="padding-top: 0">
  <div class="container" >
    <div class="title" >
        <h2>Contato</h2>
    </div>
    <div class="row contact_row">
      <div class="col-xl-12 col-md-12 col-sm-12 contact_info">
        <h2>INFORMAÇÕES DE CONTATO</h2>
        <p>Gostaria de um orçamento de pesquisa, mas não sabe por onde começar? Clique <a href="../../../assets/txt.txt" download>aqui</a> e faça o download do nosso formulário de briefing com todas as informações que precisamos para entender o seu problema de marketing</p>
        <div class="location">
          <div class="location_left">
            <a class="f_location" href="https://goo.gl/maps/nmnET84YFUA2">LOCAL</a>
            <a class="f_tel" href="tel:1135682155">TELEFONE</a>
            <a class="f_mail" href="mailto:luciana.goncalves@blood-blue.com.br">EMAIL LUCIANA</a>
            <a class="f_mail" href="mailto:rafaela.tolosa@blood-blue.com.br">EMAIL RAFAELA</a>
          </div>
          <div class="address">
            <a href="https://goo.gl/maps/nmnET84YFUA2">Avenida das Nações Unidas, 14171, 15º Andar | Morumbi | Rochaverá | CEP 04795-100 | São Paulo/SP </a>
            <a href="tel:1135682155">11 3568-2155</a>
            <a href="tel:1135682200">11 3568-2200</a>
            <a href="mailto:luciana.goncalves@blood-blue.com.br">luciana.goncalves@blood-blue.com.br</a>
            <a href="mailto:rafaela.tolosa@blood-blue.com.br">rafaela.tolosa@blood-blue.com.br</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
