<section class="our_feature_area">
  <div class="container">
    <div class="feature_row row">
      <div class="col-md-6 feature_img">
          <app-abb-imagem class="img-fluid mx-auto " [url]="'/assets/images/logo.jpeg'"></app-abb-imagem>
      </div>
      <div class="col-md-6 feature_content">
        <div class="subtitle">
          <h2>Algumas soluções</h2>
        </div>
        <br>
        <div class="media">
          <div class="media-left">
            <i class="fas fa-lightbulb"></i>
          </div>
          <div class="media-body">
            <i>CREATIVE WORKSHOP</i>
            <p>Workshop para desenvolvimento e teste de materiais</p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <i class="fas fa-user-tie"></i>
          </div>
          <div class="media-body">
            <i>KEY OPINION LEADERS INFLUENCE</i>
            <p>Identifica KOLs e seu grau de influência na arena competitiva</p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <i class="fas fa-search-plus"></i>
          </div>
          <div class="media-body">
            <i>ETNO-INSIGHTS</i>
            <p>Coloca o pesquisador como observador e parte do dia a dia do médico ou paciente</p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <i class="fas fa-dollar-sign"></i>
          </div>
          <div class="media-body">
            <i>FIELD FORCE VOX </i>
            <p>A agência Blood-Blue oferece, para além dos resultados de pesquisa, 
              treinamento da Força de Vendas para adequação da melhor forma de propaganda 
              e diferenciação frete ao mercado baseada em técnicas de Programação 
              Neuro-Linguística</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
