<section class="our_feature_area">
  <div class="container">
    <div class="feature_row row">
      <div class="col-md-6 feature_img">
          <app-abb-imagem class="img-fluid mx-auto " [url]="'/assets/images/logo.jpeg'"></app-abb-imagem>
      </div>
      <div class="col-md-6 feature_content">
        <div class="subtitle">
          <h2>Algumas soluções</h2>
        </div>
        <br>
        <div class="media">
          <div class="media-left">
            <i class="fas fa-lightbulb"></i>
          </div>
          <div class="media-body">
            <i>COMUNIK</i>
            <p>Workshop para desenvolvimento e teste de materiais</p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <i class="fas fa-user-tie"></i>
          </div>
          <div class="media-body">
            <i>WIKI-KOL</i>
            <p>Identifica KOLs e seu grau de influência na arena competitiva</p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <i class="fas fa-user-md"></i>
          </div>
          <div class="media-body">
            <i>ETNO-INSIGHTS</i>
            <p>Coloca o pesquisador como observador e parte do dia a dia do médico ou paciente</p>
          </div>
        </div>
        <div class="media">
          <div class="media-left">
            <i class="fas fa-dollar-sign"></i>
          </div>
          <div class="media-body">
            <i>FIELD FORCE VOX </i>
            <p>Como o próprio nome diz, dá voz à forca de vendas, observando unmet needs, comprometimento e foco.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
