.header_aera {
    background: #fff;
    border-radius: 0;
    border: 0;
    margin: 0;
    width: 100%;
    z-index: 9999;
    top: 0;
    box-shadow: 0px 0px 20px 0px rgba(21, 47, 95, 0.2);
  }
  .header_aera .searchForm {
    height: 0;
    overflow: hidden;
    transition: all 300ms linear 0s;
  }
  .header_aera .searchForm .input-group-addon {
    border-radius: 0;
    border: none;
    font-size: 14px;
    padding: 0 45px;
    background: #10437F;
    color: #fff;
    cursor: pointer;
  }
  .header_aera .searchForm .form-control {
    height: 79px;
    padding: 0 15px;
    border-radius: 0;
    border: none;
    color: #fff;
    background: #10437F;
    text-align: center;
    font: 400 16px "Roboto", sans-serif;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
  .header_aera .searchForm .form-control.placeholder {
    font: 400 16px "Roboto", sans-serif;
    color: #fff;
  }
  .header_aera .searchForm .form-control:-moz-placeholder {
    font: 400 16px "Roboto", sans-serif;
    color: #fff;
  }
  .header_aera .searchForm .form-control::-webkit-input-placeholder {
    font: 400 16px "Roboto", sans-serif;
    color: #fff;
  }
  .header_aera .show {
    height: 80px;
    border-bottom: 1px solid transparent;
  }
  .header_aera .navbar-header .navbar-brand {
    padding-top: 39px;
  }
  .header_aera .navbar-header .navbar-brand img {
    max-width: 100%;
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li a {
    font: 700 14px/100px "Roboto", sans-serif;
    color: #222222;
    text-transform: uppercase;
    padding: 0;
    padding-left: 30px;
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li a:hover, .header_aera .navbar-collapse .navbar-nav.navbar-right li a:focus {
    color: #10437F;
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom {
    width: 100px;
    background: #10437F;
    color: #fff;
    padding: 0;
    text-align: center;
    margin-left: 15px;
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom:hover, .header_aera .navbar-collapse .navbar-nav.navbar-right li .nav_searchFrom:focus {
    color: #222222;
  }
  @media (min-width: 768px) {
    .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu .other_dropdwn {
      margin-right: -122px;
    }
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul {
    border: none;
    box-shadow: none;
    border-radius: 0px;
    min-width: 190px;
    transition: all 500ms ease-in-out;
    background: #10437F;
  }
  @media (min-width: 768px) {
    .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul {
      margin-right: -150px;
      display: block;
      transform: rotateX(-90deg);
      transform-origin: top;
    }
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li {
    display: block;
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul li a {
    line-height: normal;
    font: 700 14px/normal "Roboto", sans-serif;
    padding: 12px 8px;
    display: block;
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul:before {
    content: "";
    width: 100%;
    height: 5px;
    background: #222222;
    position: absolute;
    top: 0px;
    transform: translateZ(0);
    backface-visibility: hidden;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: all 800ms ease-in-out;
  }
  .header_aera .navbar-collapse .navbar-nav.navbar-right li.submenu ul:after {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0px;
    background: #222222;
    transform: translateZ(0);
    backface-visibility: hidden;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: all 800ms ease-in-out;
  }
  @media (min-width: 768px) {
    .header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul {
      transform: rotateX(0deg);
    }
    .header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul:before {
      transform: scaleX(1);
    }
    .header_aera .navbar-collapse .navbar-nav.navbar-right li:hover.submenu ul:after {
      transform: scaleX(1);
    }
  }