<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light">
    <mdb-navbar-brand>
        <app-abb-imagem [url]="'./assets/images/LOGO-50-ALT.png'" [descricao]='Logo'></app-abb-imagem>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="['']" routerLinkActive="router-link-active"  class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/servico']" routerLinkActive="router-link-active"  class="nav-link waves-light" mdbWavesEffect>Serviços</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/contato']" routerLinkActive="router-link-active" class="nav-link waves-light" mdbWavesEffect>Contato</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/sobre']" routerLinkActive="router-link-active" class="nav-link waves-light" mdbWavesEffect>Sobre</a>
            </li>
        </ul>
    </links>
</mdb-navbar>