  <nav class="top_header_area navbar navbar-expand">
    <div class="container">
      <ul class="nav navbar-nav top_nav">
        <li><a href="tel:1135682155"><i class="fa fa-phone"></i>(11) 3568-2155</a></li>
        <li><a href="#"><i class="fa fa-envelope"></i>luciana.goncalves@blood-blue.com.br</a></li>
        <li><a href="#"><i class="fa fa-clock"></i>Mon - Sat 12:00 - 20:00</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right social_nav">
        <li><a href="https://www.facebook.com/Blood-Blue-Pesquisa-e-Intelig%C3%AAncia-672848582836313/"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCkk84WwzpAA2RR8XOOK6T4g"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://pt.linkedin.com/company/blood-blue-pesquisa-e-intelig%C3%AAncia"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
  </nav>
