.top_header_area {
  background: #111f29;
  padding: 0;
}
.top_header_area .top_nav li a {
  text-decoration: none;
  font: 400 14px/50px "Roboto", sans-serif;
  color: #fff;
  padding: 0;
  padding-left: 30px;
}
.top_header_area .top_nav li a i {
  color: #10437F;
  font-size: 18px;
  padding-right: 10px;
}
.top_header_area .top_nav li a:hover, .top_header_area .top_nav li a:focus {
  background-color: transparent;
  transition: 500ms;
  color: #10437F;
}
.top_header_area .top_nav li:first-child a {
  padding: 0;
}
.top_header_area .social_nav {
  margin: 0;
}
.top_header_area .social_nav li a {
  font-size: 14px;
  color: #fff;
  padding: 0;
  text-align: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-left: 10px;
}
.top_header_area .social_nav li a i {
  line-height: 24px;
  padding: 5px 5px 5px 5px;
}
.top_header_area .social_nav li a:hover, .top_header_area .social_nav li a:focus {
  background: #10437F;
  color: #111f29;
  transition: 750ms;
}
