
<div class="text-center professional_builder">
    <h2>Nossos Serviços</h2>
</div>
<section class="professional_builder row">
    <div class="container">
       <div class="row builder_all">
            <div class="col-md-4 col-sm-4 builder">
                <i class="fas fa-chart-bar" aria-hidden="true"></i>
                <h4>Estudos Qualitativos Convencionais</h4>
                <p>Técnicas Projetivas, Semi-Etnográfico, Laddering, 
                    Patient Journey, Story Telling , etc.
                </p>
            </div>
            <div class="col-md-4 col-sm-4 builder">
                <i class="fas fa-chart-area" aria-hidden="true"></i>
                <h4>Estudos Quantitativos Convencionais</h4>
                <p>Modelos de Preço, Patient flow, NPS, Brand Equity, 
                    Análise de Correspondencia e Max Diff
                </p>
            </div>
            <div class="col-md-4 col-sm-4 builder">
                <i class="far fa-credit-card" aria-hidden="true"></i>
                <h4>Compra Simulada</h4>
                <p>Mussum Ipsum, cacilds vidis litro abertis. 
                    Todo mundo vê os porris que eu tomo, mas ninguém vê os 
                    tombis que eu levo! A ordem dos tratores não altera o pão duris. 
                </p>
            </div>
        </div>
        <div class="row builder_all">
            <div class="col-md-6 col-sm-6 builder">
                <i class="fas fa-clipboard" aria-hidden="true"></i>
                <h4>Teste De Produto</h4>
                <p>Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. </p>
            </div>
            <div class="col-md-6 col-sm-6 builder">
                <i class="fas fa-cogs" aria-hidden="true"></i>
                <h4>Estudos de Viabilidade e Brand permission</h4>
                <p>Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis!</p>
            </div>
        </div>
    </div>
</section>
